.services__section {
    background-image:url("../../assets/excavator2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(36, 33, 33);
    background-blend-mode: multiply;
    
    padding: 3rem 1rem;

    h2 {
        color: var(--color-orange);
        text-shadow: 0 0.2rem 0.2rem black;
        letter-spacing: 0.05rem;
        font-size: 1.8rem;

        text-align: center;
        margin: 0;

        @media screen and (min-width: 997px) {
            font-size: 2.5rem;
            letter-spacing: 0.1rem;
        }
    }

    .services__section--container {
        display: flex;
        flex-direction: column;

        justify-content: center;
        margin: 0 auto;
        
        .services__section--card {
            width: 80%;
            max-width: 280px;
            height: 300px;
            margin: 2rem 1rem;

            border-radius: 6px;
            box-shadow: 0 1px 1px 0 black;
            background-color: var(--color-darkblue);

            display: flex;
            flex-direction: column;
            justify-self: center;

            img {
                width: 100%;
                height: 70%;
                
                object-fit: cover;
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
            }

            p {
                text-align: center;
                color: var(--color-lightergray);
                font-size: 1.3rem;
                padding-top: 0.5rem;
                text-shadow: 0 0 3px black;

                margin-top: 1rem;
            }
            .card__extra--info {
                font-size: 1rem;
                padding-top: 0;
                padding-bottom: 0.5rem;
                margin-top: 0;
            }
        }
        
        @media screen and (min-width: 997px) {
            flex-direction: row;
        }

        @media screen and (max-width: 997px) {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }
    }
}