.nav__menu {
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(0, 0, 0, 0.18);
    position: fixed;
    z-index: 4;

    width: 100%;
    padding: 0 0.5rem;

    .navbar__bar-container {
        align-items: center;
        justify-content: space-between;

        width: 100%;
        max-width: 1400px;
        margin: 0;
        padding: 0;

        h2 {
            text-align: center;
            font-size: 1.6rem;
            letter-spacing: 0.05rem;
            font-weight: 600;
            text-shadow: 1px 1px 3px var(--color-darkblue);
            line-height: 2rem;
    
            color: var(--color-lightgray);
    
            padding: 1rem;

            @media screen and (min-width: 1920px) {
                font-size: 2rem;
                letter-spacing: 0.1rem;
            }
                    
        }
    
        .nav__menu-d {
    
            li {
                list-style: none;
                
                a {
                    text-decoration: none;
                    color: var(--color-lightgray);
    
                    font-size: 1.2rem;
                    padding: 1rem;

                    transition: all 0.3s ease-in-out;

                    &:hover {
                        color: var(--color-bluegray);
                        transform: translateY(-0.25rem);
                    }

                    @media screen and (min-width: 1920px) {
                        font-size: 1.5rem;
                        letter-spacing: 0.05rem;
                    }
                }
            }
            
    
            @media screen and (min-width: 997px) {
                display: flex;
            }
        }
    }


    .nav__menu-m {
        width: 50px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        

        margin: 0 1rem;

        svg {
            width: 100%;
            height: 100%;
            color: var(--color-lightgray);
            cursor: pointer;
        }

        div {
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            z-index: 5;
    
            padding: 1rem;
    
            width: 100%;
            height: 50vh;
    
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            flex-direction: column;
    
            background: rgba(0, 0, 0, 0.95);
            backdrop-filter: blur(4px);
    
            svg {
                width: 35px;
                height: 35px;
                color: var(--color-lightgray);
                margin: 0.5rem 1rem;
                cursor: pointer;
                
            }
    
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                height: 100%;
                width: 100%;
    
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
    
                li {
                    margin: 1rem;
    
                    a {
                        color: var(--color-lightgray);
                        text-decoration: none;
                        font-size: 1rem;
                        text-transform: uppercase;
                        font-weight: 500;
                        letter-spacing: 0.05rem;
    
                        transition: all 0.3s ease-in-out;
    
                        &:hover {
                            color: gray;
                        }
                    }
                }
            }
        }

        @media screen and (min-width: 997px) {
            display: none;
        }


    }
}